

{% extends 'movieweb/base.html' %}

{%block content%}
<div class="loginsection">
  <div class="row pt-5">
    <div class="col-lg-12  d-flex justify-content-center loginform">
      <form  method="post" >
          {% csrf_token %}
        <div class="form-group">
          <input type="password" name="password" class="form-control" id="password" placeholder="New Password">
        </div>
        <div class="text-center"><button class="rounded-pill" type="submit">Submit To Continue</button></div>
      </form>
    </div>
  </div>
</div>

{%endblock%}

