{% extends 'movieweb/base.html' %}


{% block content %}

    <section class="Fouth-Section">
        <div>
            <div class="row">
                <div class="col-lg-2 bg-dark">
                    <div class="vertical-menu" style="height: 780px">
                        <a href={% url 'adminview' %}>Home</a>
                        <a href={% url 'addadmin' %}> Add Admin</a>
                        <a href={% url 'viewuser' %}>View Users</a>
                        <a href={% url 'editmovie' %}>Add Movies</a>
                        <a href={% url 'login' %}>LogOut</a>
                    </div>
                    <div class="text-center" style="border: #32324e; background-color: #32324e; height: 50px; width: 270px;">
                        <form method="post" action={% url 'admin-profile' %}>{% csrf_token %}
                            <input type="hidden" id="username" name="username" value={{ user }}>
                        <button style="border: none; background: transparent" type="submit"><span><h3 class="" style="color: white">{{ user }}</h3></span></button>
                            </form>
                    </div >
                </div>
                <div class="col-lg-10 bg-light pl-0">
                    {% block homecontent %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>



{% endblock %}