{% extends 'movieweb/admin/adminbase.html' %}


{% block homecontent %}


    <div class="row pt-2 pb-5">
        <div class="col-lg-10 text-center"><h3>Movies List</h3></div>
        <div class="popup_main pb-2">
            <button class="open_popup">ADD MOVIES</button>
            <div class="popup_body">
                <div class="popup_back"></div>
                <div class="popup_contain">
                    <div class="popup_close">x</div>
                    <h3 class="text-center">ADD MOVIES</h3>
                    <div class="addmoviessection" style="padding-top: 0">
                        <div class="row">
                            <div class="col-lg-12  d-flex justify-content-center loginform" style="padding-top: 10px">
                                <form role="form" action={% url 'add-movie' %} method="post"
                                      enctype="multipart/form-data">{% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="mname" class="form-control" id="mname"
                                               placeholder="Movie Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="shortdesc" class="form-control" id="shortdesc"
                                               placeholder="Short Description">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="longdesc" class="form-control" id="longdesc"
                                               placeholder="Long Description">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="vurl" class="form-control" id="vurl"
                                               placeholder="Vedio Url">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="imageurl" class="form-control" id="imageurl"
                                               placeholder="Image Url">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="mrating" class="form-control" id="mrating"
                                               placeholder="Rating">
                                    </div>

                                    <div class="text-center">
                                        <button class="rounded-pill btn btn-primary" type="submit">Add Movie</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group">
        <div class="text-center">
            <div class="row ">
                <div class="col-3">
                    <p>Movie Name</p>
                </div>
                <div class="col-3">
                    <p>Short Desc</p>
                </div>
                <div class="col-2">
                    <p>CREATION DATE</p>
                </div>
                <div class="col-2">
                    <p>UPDATE DATE</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            {% for d in movies %}
                <div class="list-group-item list-group-item-action list-group-item-primary">
                    <div class="row d-flex justify-content-center pl-2 text-center">
                        <div class="col-3">
                            <p>{{ d.mname }}</p>
                        </div>

                        <div class="col-2 ">
                            <p>{{ d.shortdesc }}</p>
                        </div>

                        <div class="col-2">
                            <p>{{ d.creation_date }}</p>
                        </div>
                        <div class="col-2">
                            <p>{{ d.update_date }}</p>
                        </div>
                        <div class="col-1">
                            <form role="form" action={% url 'editmovie' %} method="post">{% csrf_token %}
                                <button style="border: none; background-color: transparent" value="{{ d.mname }}"
                                        name="id" id="id" type="submit"><i class="fas fa-trash"></i></button>
                            </form>
                        </div>
                        <div class="col-2">
                            <div class="popup_main">
            <button class="open_popup btn-primary">UPDATE</button>
            <div class="popup_body">
                <div class="popup_back"></div>
                <div class="popup_contain">
                    <div class="popup_close">x</div>
                    <h3 class="text-center">UPDATE MOVIE</h3>
                    <div class="addmoviessection" style="padding-top: 0">
                        <div class="row">
                            <div class="col-lg-12  d-flex justify-content-center loginform" style="padding-top: 10px">
                                <form role="form" action={% url 'update-movie' %} method="post"
                                      enctype="multipart/form-data">{% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" value="{{ d.mname }}" name="mname" class="form-control" id="mname"
                                              readonly placeholder="Movie Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" value="{{ d.shortdesc }}" name="shortdesc" class="form-control" id="shortdesc"
                                               placeholder="Short Description">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="longdesc" value="{{ d.longdesc }}" class="form-control" id="longdesc"
                                               placeholder="Long Description">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="vurl" value="{{ d.vurl }}" class="form-control" id="vurl"
                                               placeholder="Vedio Url">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="imageurl" value="{{ d.imageurl }}" class="form-control" id="imageurl"
                                               placeholder="Image Url">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="mrating" value="{{ d.mrating }}" class="form-control" id="mrating"
                                               placeholder="Rating">
                                    </div>

                                    <div class="text-center">
                                        <button class="rounded-pill btn btn-primary" type="submit">UPDATE</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>





    <script>
        $(".open_popup").click(function () {
            $(this).parent(".popup_main").children(".popup_body").addClass("popup_body_show");
        });
        $(".popup_close").click(function () {
            $(".popup_body").removeClass("popup_body_show");
        });
        $(".popup_back").click(function () {
            $(".popup_body").removeClass("popup_body_show");
        });

    </script>


{% endblock %}